---
import { SEO } from "astro-seo";
import { Schema } from "astro-seo-schema";
import Navbar from "@components/sections/Navbar.astro";
import FooterSection from "@components/sections/FooterSection.astro";
import { SITE } from "@data/constants";

interface Props {
  title?: string;
  description?: string; 
  image?: string;     
  url?: string;       
  meta?: string;
  structuredData?: object;
  lang?: string;
  robots?: string; 
  canonical?: string;
}

const {
  title = SITE.title,
  description = Astro.props.description || "DiversDesk is leading the way in dive center operations, with planning & scheduling, advanced paperless onboarding, digital waivers, CRM, online bookings, and integrated payments. Try it today!",
  image = "/images/Laptop-and-phone-diversdesk.avif",
  url = "https://www.diversdesk.com",
  meta = "",
  structuredData,
  lang = "en",
  robots = "index, follow", 
} = Astro.props;
---

<html lang={lang} class="scrollbar-hide lenis lenis-smooth scroll-pt-16">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    <!-- <link rel="canonical" href={canonical} /> -->
    
    <!-- Favicons -->
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
    <link rel="icon" type="image/png" sizes="16x16" href="/imagesfavicon_16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon_32x32.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/images/favicon_512x512.png">
    <link rel="icon" href="/images/favicon.ico"> 
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">

    <meta name="robots" content={robots} /> <!-- Added meta robots tag -->
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: image,
          url: url,
        },
      }}
    />
    <!-- Allow page-specific head content -->
    <slot name="head" />

    <!-- Fallback for SEO Image -->
    <noscript>
      <picture>
        <source srcset="/images/Laptop-and-phone-diversdesk.avif" type="image/avif">
        <source srcset="/images/Laptop-and-phone-diversdesk.webp" type="image/webp">
        <img src="/images/Laptop-and-phone-diversdesk.png" alt="DiversDesk Overview Image">
      </picture>
    </noscript>

    <!-- Astro SEO Schema -->
    <Schema
      item={{
        "@context": "https://schema.org",
        "@type": "Organization",
        name: "DiversDesk",
        url: "https://www.diversdesk.com",
        logo: {
          "@type": "ImageObject",
          url: "https://www.diversdesk.com/images/logo.avif",
          alternateName: "DiversDesk Logo",
        },
        description: "Leading software for dive center operations with planning, scheduling, digital onboarding, and integrated payments."
      }}
    />

    <noscript>
      <picture>
        <source srcset="https://www.diversdesk.com/images/logo-dark.avif" media="(prefers-color-scheme: dark)">
        <source srcset="https://www.diversdesk.com/images/logo-dark.png" media="(prefers-color-scheme: dark)">
        <source srcset="https://www.diversdesk.com/images/logo.avif">
        <img src="https://www.diversdesk.com/images/logo.png" alt="DiversDesk Logo">
      </picture>
    </noscript>

    <!--Google Analytics - Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XNYR7HDD7W"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-XNYR7HDD7W');
    </script>

    <script is:inline>
      if (
        localStorage.getItem("hs_theme") === "dark" ||
        (!("hs_theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <script is:inline src="/scripts/vendor/lenis/lenis.js"></script>
    <script is:inline>
      const lenis = new Lenis();

      function raf(time) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);
    </script>

    {structuredData && <script type="application/ld+json" set:html={JSON.stringify(structuredData)} />}
    {meta && <Fragment set:html={meta} />}
  </head>

  <body class="bg-white selection:bg-orange-200 selection:text-neutral-700 dark:bg-neutral-800 overflow-x-hidden">
    <div class="mx-auto max-w-screen-2xl px-0 sm:px-0 lg:px-0">
      <Navbar />
      <main>
        <slot />
      </main>
    </div>
    <FooterSection />
    <style>
      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }

      .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }

      html.lenis,
      html.lenis body {
        height: auto;
      }

      .lenis.lenis-smooth {
        scroll-behavior: auto !important;
      }

      .lenis.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
      }

      .lenis.lenis-stopped {
        overflow: hidden;
      }

      .lenis.lenis-scrolling iframe {
        pointer-events: none;
      }

      .logo-light {
        display: block;
      }

      .logo-dark {
        display: none;
      }

      @media (prefers-color-scheme: dark) {
        .logo-light {
          display: none;
        }
        .logo-dark {
          display: block;
        }
      }

      /* Ensure images scale responsively */
      img {
        max-width: 100%;
        height: auto;
      }

    </style>
  </body>
</html>
