---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import TestimonialsSectionMin from "@/components/sections/testimonials/TestimonialsSectionMinimal.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.png";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import CustomerOnboarding from "@images/onboarding_scrnshot1.png";
import CutErrors from "@images/happy_customers2.png";
import BoostRevenue from "@images/happy_diver.jpeg";
import {Icons} from "node_modules/@astrojs/starlight/components/Icons";
import Icon from "@/components/ui/icons/Icon.astro";
import {YouTube} from 'astro-embed';
import Container from "@components/container.astro";
import CompanyLogos from "@components/CompanyLogos.astro";


const avatarSrcs: Array<string> = [
    "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
    "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
    "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
    "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];

---

<MainLayout>
    <!-- <AnnouncementBanner
      btnId="dismiss-button"
      btnTitle="Schedule a demo here"
      url="https://github.com/mearashadowfax/Diversdesk"
    /> -->

    <HeroSection
            title=`Seamless Dive Center Management, Anytime, Anywhere with <span
        class="text-orange-400 dark:text-orange-400">Diversdesk</span>`
            subTitle="Intuitive Dive Center Management Software"
            primaryBtn="Book a demo"
            primaryBtnURL="https://calendly.com/diversdesk-info/demo"
            secondaryBtn="Start a Free Trial"
            secondaryBtnURL="https://www.diversdesk.com/signup/trial"
            withReview={false}
            avatars={avatarSrcs}
            rating=`<span class="font-bold">4.8</span> / 5`
            starCount={4}
            reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
            src={heroImage}
            alt="Diversdesk its Dive Center Management tool displayed on a laptop and a phone. The planning page is shown on the screens"
    />

    <!-- <ClientsSection
      title="Trusted by Centers Worldwide"
      subTitle="The most sophisticated scheduler in the diving industry."
    /> -->

  <!-- <CompanyLogos /> -->

    <FeaturesGeneral
            title="Explore Our Feature-Rich Environment"
            subTitle="Save Time, Streamline, and Professionalize"
            alt="Diversdesk products in floating boxes"
            features={features}
            primaryBtn="Find Out More"
            primaryBtnURL="../features"
    />   

    <!-- Youtube Video to display below the features -->
    <!-- <div class="relative mb-6 overflow-hidden md:mb-8 px-2">
      <div class="mx-auto max-w-[650px]">
        <YouTube id="QUUr5A2rRKw" title="Watch Diversdesk in action"/>
        <style is:inline>
            lite-youtube {
                margin: 0 auto;
                max-width: 650;
            }
        </style>
    </div> -->

    <!-- <TestimonialsSection
      title="Fast-Track Your Projects"
      subTitle="At Diversdesk, we ensure a swift start with instant account setup. Experience the speed of construction redefined."
      ;
      testimonials={[
        {
          content:
            "Diversdesk dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in hardware and construction support!",
          author: "Samantha Ruiz",
          role: "Chief Operating Officer | ConstructIt Inc.",
          avatarSrc:
            "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
        },
      ]}
      statistics={[
        {
          count: "70k+",
          description:
            "customers equipped — from DIY to major construction firms",
        },
        {
          count: "35%",
          description:
            "uptick in project efficiency with Diversdesk tools and services",
        },
        {
          count: "15.3%",
          description:
            "reduction in maintenance costs reported by long-term clients",
        },
        {
          count: "2x",
          description: "quicker assembly using innovative fastening solutions",
        },
      ]}
    /> -->

    <TestimonialsSectionMin
    title ="What Our Customers Say"
    testimonials={[
      {
        content:
          "\"The system is not only user-friendly but also incredibly efficient, allowing me to easily schedule dives, track payments, and effectively oversee and coordinate activities.\"",
        author: "TI",
        role: "Owner | Jom Adventure",
        avatarSrc: "https://diversdesk.com/images/ti_jomadventure_avatar.png",
        starCount: 5, 
      },
      {
        content:
          "\"We are particularly impressed with the platform’s ease of use and the responsive support team, who listen to and act on our feedback.\"",
        author: "Miikka",
        role: "Manager | Bali Dive Resort and Spa",
        avatarSrc: "https://diversdesk.com/images/miikka_bdrs_avatar.png",
        starCount: 5, 
      },
      {
        content:
          "\"We don't use any paperwork anymore because the medical form and liability release are filled in online. Super convenient, time saving, and most important, good for the environment!\"",
        author: "Lars",
        role: "Owner | S.E.A. Diving Bali",
        avatarSrc: "https://diversdesk.com/images/lars_seadb_avatar.png",
        starCount: 5, 
      },
    ]}
    primaryBtn="Read Full Testemonials"
    primaryBtnURL="../about#testimonials"
/>

    <FeaturesNavs
      title=`Why Choose Diversdesk`
      tabs={[
        {
          heading: "Customer onboarding in Record Time",
          content:
            "Streamline customer onboarding by sharing a single booking URL that handles registration, waivers, and payments. Everything is managed seamlessly in a fraction of the time, presenting a pleasant experience and professional appearance to your customers.",
          svg: "save_time",
          src: CustomerOnboarding,
          alt: "Yellow and black heavy equipment on brown grass field",
          first: true,
        },
        {
          heading: "Cut Errors and System Complexity",
          content:
            "Eliminate the need for multiple systems, double and manual data entries. Customer registrations become directly visible in your environment. Visual trip insights also remove the need for manual participant counts, making your operation less prone to overbookings and human errors.",
          svg: "boost_revenue",
          src: CutErrors,
          alt: "A screenshot or graphic representation of the intuitive dashboard",
          second: true,
        },
        {
          heading: "Boost revenue",
          content:
            "Through unique insights from DiversDesk, your center can reduce overhead, make data-driven decisions, and leverage upsell opportunities. Understand preferences and key trends to optimize marketing efficiency and tailor offerings, ultimately enhancing customer experience and boosting revenue.",
          svg: "boost_revenue",
          src: BoostRevenue,
          alt: "A screenshot or graphic representation of the intuitive dashboard",
          second: true,
        }
      ]}
    />  

    <div class="px-2">
        <PricingSection pricing={pricing}/>
    </div>

    <section id="faq">
      <FAQ title="Frequently<br />Asked Questions" faqs={faqs} />
    </section>
   

    <HeroSectionAlt
            title="Let's Build Together"
            subTitle="Diversdesk is committed to continuously improving our services based on your insights and feedback."
    />


</MainLayout>
