---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import TestimonialsSectionAlt from "@components/sections/testimonials/TestimonialsSectionAlt.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.png";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";
import { Icons } from "node_modules/@astrojs/starlight/components/Icons";
import Icon from "@/components/ui/icons/Icon.astro";
import { YouTube } from 'astro-embed';

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];

// Testimonial data that will be rendered in the component
const testimonials = [
  // First testimonial data
  {
    content:
      " \"Since switching to ScrewFast's hardware tools, the efficiency on our construction sites has skyrocketed. The durability of the hex bolts and precision of the machine screws are simply unmatched. It's refreshing to work with a company that truly understands the daily demands of the industry.\" ",
    author: "Jason Clark",
    role: "Site Foreman | TopBuild",
    avatarSrc:
      "https://images.unsplash.com/photo-1500648767791-00dcc994a43e?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    avatarAlt: "Image Description",
  },
  // Second testimonial data
  {
    content:
      " \"As an interior designer, I'm always looking for high-quality materials and tools that help bring my visions to life. ScrewFast's mixed screws assortment has been a game-changer for my projects, providing the perfect blend of quality and variety. The outstanding customer support was just the cherry on top!\" ",
    author: "Maria Gonzalez",
    role: "Interior Designer | Creative Spaces",
    avatarSrc:
      "https://images.unsplash.com/photo-1544005313-94ddf0286df2?q=80&w=1376&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    avatarAlt: "Image Description",
  },
  // Third testimonial data
  {
    content:
      " \"I’ve been a professional carpenter for over 15 years, and I can sincerely say that ScrewFast’s tap bolts and nuts are some of the best I've used. They grip like no other, and I have full confidence in every joint and fixture. Plus, the service is impeccable – they truly care about my project's success.\" ",
    author: "Richard Kim",
    role: "Master Carpenter | WoodWright",
    avatarSrc:
      "https://images.unsplash.com/photo-1474176857210-7287d38d27c6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    avatarAlt: "Image Description",
  },
];
---

<MainLayout>
  <!-- <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Schedule a demo here"
    url="https://github.com/mearashadowfax/ScrewFast"
  /> -->

  <HeroSection
    title=`Seamless Planning, Anytime, Anywhere with <span
        class="text-orange-400 dark:text-orange-400">Diversdesk</span>`
    subTitle="Intuitive Dive Center Management Software"
    primaryBtn="Schedule a demo"
    primaryBtnURL="/products"
    secondaryBtn="Contact Sales Team"
    secondaryBtnURL="/contact"
    withReview={false}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <!-- <ClientsSection
    title="Trusted by Industry Leaders"
    subTitle="Experience the reliability chosen by industry giants."
  /> -->

  <FeaturesGeneral
    title="Explore Our Feature-Rich Environment"
    subTitle="Save Time, Streamline, and Professionalize"
    alt="ScrewFast products in floating boxes"
    features={features}
  />
 
  <!-- Youtube Video to display below the features -->
  <div class="relative mb-6 overflow-hidden md:mb-8">    
    <YouTube id="QUUr5A2rRKw" title="Watch Diversdesk in action" />
    <style is:inline>
      lite-youtube {
        margin: 0 auto;
        max-width: 650;
      }
    </style>
  </div>

  <!-- <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At ScrewFast, we ensure a swift start with instant account setup. Experience the speed of construction redefined."
    ;
    testimonials={[
      {
        content:
          "ScrewFast dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in hardware and construction support!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "customers equipped — from DIY to major construction firms",
      },
      {
        count: "35%",
        description:
          "uptick in project efficiency with ScrewFast tools and services",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs reported by long-term clients",
      },
      {
        count: "2x",
        description: "quicker assembly using innovative fastening solutions",
      },
    ]}
  /> -->

  <!--Testimonials section-->
  <TestimonialsSectionAlt
    title="What Our Customers Say"
    testimonials={testimonials}
  />

  <FeaturesNavs 
    title=`Why Choose Diversdesk`
    tabs={[
      {
        heading: "Save Time",
        content:
          "Diversdesk presents you industry's most flexible planner, offering multi-booking, multi-activity, and cross-location scheduling capabilities. Quickly allocate customers with just a few clicks, ensuring smooth operations and satisfied clients.",
        svg: "calendar",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },  
      {
        heading: "Boost revenue",
        content:
          "Still printing and keeping paperwork? With Diversdesk, you can go 100% paperless. Use our embedded Diver Medical forms and official waivers from your certification organization, or create custom waivers from scratch. Secure, professional, and environmentally friendly.",
        svg: "signature",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Proffesionalize",
        content:
          "Minimize complexity, maximize productivity. ScrewFast's robust features are engineered to streamline your construction process, delivering results that stand out for their excellence.",
        svg: "customer_database",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      }
    ]}
  />  

  <PricingSection pricing={pricing} />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Let's Build Together"
    subTitle="Diversdesk is committed to continuously improving our services based on your insights and feedback."
  />


</MainLayout>
