---
// Import SecondaryCTA component for use in this module
import SecondaryCTA from "@components/ui/buttons/SecondaryCTA.astro";
import Icon from "@components/ui/icons/Icon.astro";

// Define props from Astro
const { pricing } = Astro.props;

// Define TypeScript type for products.
type Product = {
  name: string;
  description: string;  
  descriptionSecondary: string;
  price: string;
  cents: string;
  billingFrequency: string;
  billingsubtitle: string;
  users: Array<string>;
  features: Array<string>;
  purchaseBtnTitle: string;
  purchaseLink: string;
};

interface PricingSectionProps {
  title: string;
  subTitle: string;
  badge: string;
  thirdOption: string;
  btnText: string;
  pricing: {
    title: string;
    subTitle: string;
    starterKit: Product;
    professionalToolbox: Product;
  };
}
---

<section
  class="mx-auto max-w-[85rem] px-0 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Section heading and sub-heading -->
  <div class="mx-auto mb-10 max-w-4xl text-left lg:mb-14">
    <h2
      class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
    >
      {pricing.title}
    </h2>
    <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
      {pricing.subTitle}
    </p>
  </div>
  <!-- Contains four main product blocks -->
  <div class="grid md:grid-cols-2 lg:grid-cols-4 grid-cols-1 items-center justify-center gap-4 sm:gap-4">
    <!-- Customer Connect Product details -->
    <div
      class="w-full rounded-xl bg-gray-800 p-6 sm:rounded-xl sm:p-8 "
    >
      <div class="mb-4">
        <h3 class="text-2xl font-bold text-neutral-100 sm:text-3xl whitespace-nowrap">
          {pricing.CRM_Go.name}
        </h3>
        <p class="text-indigo-300 whitespace-normal">{pricing.CRM_Go.description}</p>
        <p class="text-indigo-300 whitespace-normal">{pricing.CRM_Go.descriptionSecondary}</p>
      </div>

      <div class="mb-4">
        <span class="text-4xl font-bold text-neutral-200"
          >{pricing.CRM_Go.price}</span
        >
        <span class="text-lg font-bold text-neutral-300 whitespace-nowrap"
          >{pricing.CRM_Go.cents}</span
        >
        <span class=" ms-3 text-sm text-indigo-200 whitespace-nowrap"
          >{pricing.CRM_Go.billingFrequency}</span 
        ></br>
        <span class="ms-3 text-sm text-indigo-200"
        >{pricing.CRM_Go.billingsubtitle}</span
      >
      </div>
      <!-- Features list - automatically created by mapping over `features` array -->
      <ul class="mb-6 space-y-2 text-neutral-300">
        <!-- {
          pricing.CRM_Go.users.map((feature: string) => (
            <li class="flex items-center gap-1.5">
              <Icon name="checkCircle" />

              <span>{feature}</span>
            </li>
          ))
        }
        <hr></hr> -->
        {
          pricing.CRM_Go.features.map((feature: string) => (
            <li class="flex items-center gap-1.5 whitespace-nowrap">
              <Icon name="checkCircle" />
              <span>{feature}</span>
            </li>
          ))
        }
      </ul>
      <!-- CTA for purchasing the product -->
      <a
        href={pricing.CRM_Go.purchaseLink}
        class="block rounded-lg bg-gray-500 px-8 py-3 text-center text-sm font-bold text-gray-100 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-600 focus-visible:ring active:text-gray-300 md:text-base"
        >{pricing.CRM_Go.purchaseBtnTitle}</a
      >
    </div>
    <!-- STARTER product details -->
    <div
      class="w-full rounded-xl bg-gradient-to-tr from-[#FF512F] to-[#F09819] p-6 shadow-xl"
    >
      <div
        class="mb-4 flex flex-col items-start justify-between gap-4 lg:flex-row"
      >
        <div>
          <h3 class="text-2xl font-bold text-neutral-100 sm:text-3xl">
            {pricing.Starter.name}
          </h3>
          <p class="text-orange-200">{pricing.Starter.description}</p>
          <p class="text-orange-200">{pricing.Starter.descriptionSecondary}</p>
        </div>
      </div>

      <div class="mb-4">
        <span class="text-6xl font-bold text-neutral-200"
          >{pricing.Starter.price}</span
        >
        <span class="text-lg font-bold text-orange-100"
          >{pricing.Starter.cents}</span
        >
        <span class="ms-3 text-orange-200"
          >{pricing.Starter.billingFrequency}</span
        > </br>
        <span class="ms-3 text-sm text-orange-200"
        >{pricing.CRM_Go.billingsubtitle}</span
        >
      </div>
      <!-- Features list - automatically created by mapping over `features` array -->
      <ul class="mb-6 space-y-2 text-orange-100">
        {
          pricing.Starter.features.map((feature: string) => (
            <li class="flex items-center gap-1.5">
              <Icon name="checkCircle" />

              <span>{feature}</span>
            </li>
          ))
        }
      </ul>
      <!-- CTA for purchasing the product -->
      <a
        href={pricing.Starter.purchaseLink}
        class="block rounded-lg bg-orange-200 bg-opacity-50 px-8 py-3 text-center text-sm font-bold text-neutral-100 outline-none ring-orange-300 transition duration-100 hover:bg-orange-300 hover:bg-opacity-50 focus-visible:ring active:bg-orange-400 md:text-base"
        >{pricing.Starter.purchaseBtnTitle}</a
      >
    </div>
        <!-- PRO product details -->
        <div
        class="w-full rounded-xl bg-gradient-to-tr from-[#FF512F] to-[#F09819] p-6 shadow-xl sm:p-8 relative"
      >
        <div
          class="mb-4 flex flex-col items-start justify-between gap-4 lg:flex-row"
        >
          <div>
            <h3 class="text-2xl font-bold text-neutral-100 sm:text-3xl">
              {pricing.Pro.name}
            </h3>
            <p class="text-orange-200">{pricing.Pro.description}</p>
            <p class="text-orange-200">{pricing.Pro.descriptionSecondary}</p>
          </div>
  
          <span
          class="order-first absolute top-2 right-4 transform translate-x-1/4 translate-y-[-50%] flex flex-col justify-center items-center rounded-full bg-orange-50 border-4 border-[#f06f19] h-16 w-24 text-base font-bold text-center text-[#FF512F] leading-tight"
        >
          <span>Most</span>
          <span>Popular</span>
        </span>            

        </div>
        <div class="mb-4">
          <span class="text-6xl font-bold text-neutral-200"
            >{pricing.Pro.price}</span
          >
          <span class="text-lg font-bold text-orange-100"
            >{pricing.Pro.cents}</span
          >
          <span class="ms-3 text-orange-200"
            >{pricing.Pro.billingFrequency}</span
          > </br>
          <span class="ms-3 text-sm text-orange-200"
          >{pricing.CRM_Go.billingsubtitle}</span
          >
        </div>
        <!-- Features list - automatically created by mapping over `features` array -->
        <ul class="mb-6 space-y-2 text-orange-100">
          {
            pricing.Pro.features.map((feature: string) => (
              <li class="flex items-center gap-1.5">
                <Icon name="checkCircle" />
  
                <span>{feature}</span>
              </li>
            ))
          }
        </ul>
        <!-- CTA for purchasing the product -->
        <a
          href={pricing.Pro.purchaseLink}
          class="block rounded-lg bg-orange-200 bg-opacity-50 px-8 py-3 text-center text-sm font-bold text-neutral-100 outline-none ring-orange-300 transition duration-100 hover:bg-orange-300 hover:bg-opacity-50 focus-visible:ring active:bg-orange-400 md:text-base"
          >{pricing.Pro.purchaseBtnTitle}</a
        >
      </div>
      <!-- ENTERPRISE PLAN -->
      <div
      class="w-full rounded-xl bg-gradient-to-tr from-[#FF512F] to-[#F09819] p-6 shadow-xl sm:p-8"
    >
      <div
        class="mb-4 flex flex-col items-start justify-between gap-4 lg:flex-row"
      >
        <div>
          <h3 class="text-2xl font-bold text-neutral-100 sm:text-3xl">
            {pricing.Enterprise.name}
          </h3>
          <p class="text-orange-200">{pricing.Enterprise.description}</p>
          <p class="text-orange-200">{pricing.Enterprise.descriptionSecondary}</p>
        </div>
      </div>

      <div class="mb-4">
        <span class="text-6xl font-bold text-neutral-200"
          >{pricing.Enterprise.price}</span
        >
        <span class="text-lg font-bold text-orange-100"
          >{pricing.Enterprise.cents}</span
        >
        <span class="ms-3 text-orange-200"
          >{pricing.Enterprise.billingFrequency}</span
        > </br>
        <span class="ms-3 text-sm text-orange-200"
        >{pricing.CRM_Go.billingsubtitle}</span
        >
      </div>
      <!-- Features list - automatically created by mapping over `features` array -->
      <ul class="mb-6 space-y-2 text-orange-100">
        {
          pricing.Enterprise.features.map((feature: string) => (
            <li class="flex items-center gap-1.5">
              <Icon name="checkCircle" />

              <span>{feature}</span>
            </li>
          ))
        }
      </ul>
      <!-- CTA for purchasing the product -->
      <a
        href={pricing.Enterprise.purchaseLink}
        class="block rounded-lg bg-orange-200 bg-opacity-50 px-8 py-3 text-center text-sm font-bold text-neutral-100 outline-none ring-orange-300 transition duration-100 hover:bg-orange-300 hover:bg-opacity-50 focus-visible:ring active:bg-orange-400 md:text-base"
        >{pricing.Enterprise.purchaseBtnTitle}</a
      >
    </div>
  </div>
  <!-- Call to action for Enterprise Solutions -->
  <!-- <div class="mt-8 flex items-center justify-center gap-x-3 md:mt-12">
    <p class="text-sm text-neutral-600 dark:text-neutral-400">
      {pricing.thirdOption}
    </p>

    <SecondaryCTA title={pricing.btnText} url="#" />
  </div> -->
</section>
