---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import Icon from "@components/ui/icons/Icon.astro";

// Define props from Astro
const {pricing} = Astro.props;

const features = [
    "Total Users Accounts",
    "Manager Roles",
    "Planning & Scheduling",
    "Activities",
    "Retail",
    "Daily manifest",
    "Staff Calendars",
    "Staff Workload",
    "Official Digital Waivers & Diver Medical",
    "Custom Waiver Creation",
    "Custom onboarding Journeys",
    "Multi Language",
    "Email notifications",
    "WhatsApp notifications",
    "White label / Custom Branding",
    "Invoicing",
    "Payment Gateway",
    "Data Export",
    "Analytics",
    "Customer support",
    // Add more features as needed
];

const plans = [
    {
        name: "CRM Only",
        price: "$25",
        color: "orange",
        values: [
            "5", // Total Users Accounts
            "1",
            "-",
            "-",
            "-",
            "-",
            "-",
            "-",
            true,
            true,
            true,
            true,
            "limited", // Email notifications
            "-",
            "Optional", //White label
            "-",        //Invoicing
            "Optional",
            "Optional",
            "Basic",
            "Office hours",
        ],
    },
    {
        name: "Starter",
        price: "$39/mo",
        color: "orange-400",
        values: [
            "10",
            "2",
            true,
            true,
            true,
            true,
            "-",
            "-",
            true,
            true,
            true,
            true,
            "Limited", // Email notifications
            "Limited", // WhatsApp notifications
            "Optional",
            true,
            "Optional",
            "Optoinal",
            "Basic",
            "Office hours",
        ],
    },
    {
        name: "Pro",
        price: "$59/mo",
        popular: true,
        color: "orange",
        values: [
            "20",
            "5",
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            "Optional", //White label
            true,       //Invoicing
            "Optional", //Payment gateway
            true,
            "Advanced",
            "Priority support 24/7",
        ],
    },
    {
        name: "Enterprise",
        price: "Custom",
        color: "black",
        values: [
            "Unlimited",
            "Unlimited",
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            "Optional",
            true,
            "Advanced",
            "Priority upport 24/7",
        ],
    },
];

const colors = {
    indigo: "text-indigo-600",
    orange: "text-orange-700",
    purple: "text-purple-600",
};
---


<Container>
    <div class="mt-16">
        <h3 class="text-xl lg:text-3xl font-bold lg:tracking-tight dark:text-neutral-200">
            Compare Plans
        </h3>
        <p class="mt-1 text-slate-600 dark:text-neutral-400">
            Use the table below to compare full features of this product.
        </p>
    </div>

    {/* Desktop Version */}
    <div
            class="mt-8 overflow-x-auto w-full border border-neutral-300 rounded-md">
        <div class="grid gap-0 items-center py-6  bg-white border-b border-neutral-300 rounded-t-md dark:bg-neutral-800 dark:border-neutral-600 dark:text-white"
             style="grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr)">
            <div class="text-slate-500 px-5 dark:text-neutral-200 min-w-40">Compare Plans</div>
            {plans.map((plan) => (
                    <div class="px-5 min-w-32">
                        <h3 class="dark:text-neutral-200 whitespace-nowrap">
                            {plan.name}
                        </h3>
                        <div class="text-xl mt-1 lg:text-2xl font-bold text-black dark:text-neutral-200">
                            {plan.price}
                        </div>
                        <div class="flex mt-3 ">
                            <Link
                                    href="#"
                                    block
                                    size="sm"
                                    class="whitespace-nowrap"
                            >
                                Get Started
                            </Link>
                        </div>
                    </div>
            ))}
            {features.map((feature, index) => {
                const rowClass = index % 2 === 0 ? 'dark:border-neutral-600' : 'bg-neutral-100 dark:bg-neutral-700  h-full flex items-center'
                return (
                        <Fragment>
                            <div class={`border-b border-neutral-300 font-medium text-sm py-3 px-5 ${rowClass}`}>
                                {feature}
                            </div>
                            {plans.map((plan) => {
                                const value = plan.values[index];
                                return (
                                        <div class={`border-b border-neutral-300  text-sm py-3 px-5 h-full ${rowClass} flex items-center`}>
                                            {typeof value === "boolean" ? (
                                                    <Icon name="checkCircle"/>
                                            ) : (
                                                value
                                            )}
                                        </div>
                                )
                            })}
                        </Fragment>
                )
            })}
        </div>
    </div>
    <br/><br/>
</Container>
