---
import { Image } from "astro:assets";
import Icon from "../../ui/icons/Icon.astro";
import FullStar from "@components/ui/stars/FullStar.astro";

const { content, author, role, avatarSrc, starCount } = Astro.props;

interface Props {
  content: string;
  author: string;
  role: string;
  avatarSrc: string;
  starCount: number;
}
---

<!-- Commented out blockquote -->
<blockquote class="relative flex flex-col h-full"> 
  <!-- Position the icon as a background element -->
  <!-- <Icon name="quotation" class="absolute top-0 left-0 opacity-10" /> -->
  <div class="flex-grow flex items-start relative z-10">
    <!-- Content Section -->
    <p class="text-pretty italic text-neutral-600 dark:text-neutral-400 sm:text-xl">
      {content}
    </p>
  </div>

  <div class="mt-4">
    <div class="flex items-center pl-0 pr-4 py-4 rounded-lg">
      <div class="flex-shrink-0">
        <!-- Optimized Image with fallbacks -->
        <picture>
          <source srcset={`${avatarSrc.replace('.png', '.avif')}`} type="image/avif" />
          <source srcset={`${avatarSrc.replace('.png', '.webp')}`} type="image/webp" />
          <img
            class="h-10 w-10 rounded-full"
            src={avatarSrc}
            alt={`Avatar of ${author}, ${role}`}
            loading="lazy"
          />
        </picture>
      </div>
      <div class="ms-4 grow">
        <div class="flex items-center justify-between">
          <div>
            <div class="font-bold text-neutral-800 dark:text-neutral-200">
              {author}
            </div>
            <div class="text-xs text-neutral-500">{role}</div>
          </div>
          <!-- Star Rating -->
          <div class="flex ml-4 mr-6 gap-1.5">
            {Array.from({ length: starCount }).map(() => (
              <FullStar />
            ))}
          </div>
        </div>
      </div>
    </div>
  </div>
</blockquote>
